.ticket-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  border-radius: 7px;
}

.ticket-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.ticket-id {
  font-size: 12px;
  color: #888;
}

.ticket-title {
  font-size: 10px;
  margin-bottom: 8px;
  width: 90%;
}

.ticket-tag {
  display: inline-block;
  color: darkgrey;
  border: solid;
  padding: 4px 8px;
  border-radius: 4px;
  margin-right: 4px;
  border-width: thin;
  border-style: solid;
  font-size: 12px;
  font-weight: 500;
}

.ticket-priority {
  font-weight: bold;
  color: #e74c3c;
}

.ticket-user-id {
  font-size: 0.6em;
  font-weight: bold;
  margin: 10px 0;
  padding: 8px 12px;
  text-align: center;
  border-radius: 50%;
  background-color: #007bff; /* Background color for the badge */
  color: white; /* Text color */
  width: 10px; /* Width of the circular badge */
  height: 10px; /* Height of the circular badge */
  line-height: 10px; /* Center text vertically */
  overflow: hidden; /* Ensure text does not overflow */
  position: relative;
  float: right;
}

.ticket-status {
  color: #27ae60;
}

.ticket-title-tile {
  display: flex;
  min-height: 70px;
}
.status-icon {
  margin-top: 2%;
  padding-right: 4%;
}
.cardFooter {
  display: flex;
}
